*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  color: #615050;
  font-size: 1rem;
}
.wrapper{
  max-width: 800px;
  margin: 0 auto;
}

h1{}

h2{font-size: 1.35rem; }

h3{ 
  font-size: 2rem; 
}

p{
  font-size:1.15rem;
}


/* -- Layout -- */
.main, .two, .three{
  padding: 1.25rem;
}

.main{
  background: #F5F1E8;
}

.three{
  background: #776A6A;
  color:#FCFCFC;
}


/* -- Layout Breakpoints -- */
@media all and (min-width: 600px){
  .two, .three{
    float: left;
    width: 50%;
  }
}

@media all and (min-width: 800px){
  .main, .two, .three{
    float:left;
    height: 1400px;
    /* do not do this in production sites */
  }
  .main{
    width: 40%;
  }
  .two, .three{
    width: 30%;
  }
}